<html>

<head>
    <title>Google SignIn</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 70px;
        }
    </style>
</head>

<body>
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '8065015853540979',
                xfbml: true,
                version: 'v14.0'
            });
            FB.AppEvents.logPageView();
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <div class="container">
        <div class="jumbotron text-center text-primary">
            <h1><span class="fa fa-lock"></span> Social Authentication</h1>
            <p>Login or Register with:</p>
            <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> SignIn with Google</a>
            <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> SignIn with
                Facebook</a>
        </div>
    </div>
</body>

</html>